@using webBanGiay.Models;
@*Đinh nghĩa kiểu dữ liệu cho biến model*@
@model List<Giay>


@{ foreach (var item in Model)
    {
    <div class="col4">
        <a href="@Url.Action("XemChiTiet", new {@MaGiay=item.MaGiay})">
            <img src="@Url.Content("~/AnhGiay/"+item.AnhGiay)" width="490px" height="500" alt=""></a>
            <h4>@item.TenGiay</h4>
            <h4>Giá Tiền: @String.Format("{0:0,0}", item.GiaBan) VND</h4>
            <div class="rating">
                @using (Html.BeginForm("ThemGioHang", "GioHang", new { @iMaGiay =item.MaGiay, @strUrl = Request.Url.ToString() }))
                {
                    <input type="submit" style="cursor:pointer" value="Mua Hàng" id="btnGiohang" class="btn btn-primary" />
                }

            </div>
</div>
    }
}
